/* 
#f1f3f5
#495057
#e3fafc
#c5f6fa
#0b7285
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* HEADER STYLING */

.header {
  background-color: #f1f3f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-img {
  width: 110px;
  height: 100%;
}

.main-title {
  font-size: 42px;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  color: #212529;
  letter-spacing: 5px;
  font-weight: 700;
}

.infos {
  display: flex;
  gap: 8px;
  margin-right: 10px;
}

.logos {
  font-size: 36px;
  color: #212529;
  padding: 4px;
}

.logos:hover {
  background-color: #dee2e6;
  border-radius: 8px;
}

.structure {
  display: grid;
  grid-template-columns: 300px 1fr;
  justify-content: center;
  gap: 00px;
}

/* LEFT NAVIGATION STYLING */

.left-navigation {
  width: 150px;
  margin: 40px;
}

.dark-mode {
  margin-bottom: 10px;
}

.value {
  font-size: 40px;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  color: #212529;
  letter-spacing: 5px;
  font-weight: 700;
}

.optList {
  display: grid;
  grid-template-rows: 20px repeat(20px);
}

.option {
  margin-bottom: 10px;
}

/* CALENDAR STYLING + GRID Option 1 */

/* .main-calendar {
  margin: 40px auto;
  display: grid;
  width: 80%;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  justify-items: center;
  align-items: center;
}

 .grid {
  display: grid;
  grid-template-columns: 30px repeat(5, 1fr) 30px;
  justify-items: center;
  border: 1px solid #000;
}

.days {

}

.days p:last-of-type {
}

.days p:nth-last-of-type(7) {

}

.days p {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid #000;
}

.days p:hover {
  background-color: #dee2e6;
}

.weekdays {
  background-color: #777;

}

.empty {
  color: #ced4da;
}

.month {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #dee2e6;
  color: #0b7285;
  text-transform: uppercase;
  font-family: "Russo One", sans-serif;
  letter-spacing: 2px;
  border: 1px solid #000;
  border-radius: 5px 5px 0 0;
} */

/* CALENDAR STYLING + GRID Option 2 */

.main-calendar {
  display: grid;
  width: 1300px;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  justify-items: center;
  align-items: center;
  margin: 40px;
  padding: 10px;
  overflow: hidden;
}

.month-box {
  display: grid;
  grid-template-rows: 30px 20px 1fr;
  gap: 1px;
}

.month {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #dee2e6;
  color: #0b7285;
  text-transform: uppercase;
  font-family: "Russo One", sans-serif;
  letter-spacing: 2px;
  outline: 1px solid #000;
  border-radius: 5px 5px 0 0;
}

.grid {
  justify-items: center;
}

.weekdays {
  display: grid;
  font-weight: bold;
  background-color: #f1f3f5;
  grid-template-columns: 30px repeat(5, 1fr) 30px;
  justify-content: center;
  align-items: center;
  outline: 1px solid #000;
  gap: 1px;
}

.days {
  display: grid;
  grid-template-columns: 30px repeat(5, 1fr) 30px;
  gap: 1px;
}

.days p {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  outline: 1px solid #000;
}

.days p:last-of-type {
  border-radius: 0 0 3px 0;
}

.days p:nth-last-of-type(7) {
  border-radius: 0 0 0 3px;
}

.empty {
  color: #ced4da;
}

.days p:hover {
  background-color: #dee2e6;
}
